button,
[class*="icon_"],
[class*="btn_"] {
  cursor: pointer;
  transition: 0.2s;
  vertical-align: middle;
}


button:hover,
[class*="icon_"]:hover,
[class*="btn_"]:hover {
  transform: scale(1.05);
}

.btn_start {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -65px;
  width: 150px;
  height: 150px;
  background: url(../images/icon/start_02.png) center / contain no-repeat;
}





/* 캐릭터 */

/* 잘했어요 팝업캐릭 */
.char_01{
  width: 2704px;
  height: 2903px;
  background: url(../images/char/char_01.png) center / contain no-repeat;
}

.char_02{
  width: 200px;
  height: 260px;
  background: url(../images/char/char_02.svg) center / contain no-repeat;
}

/* 문제요정 */
.char_03{
  width: 200px;
  height: 245px;
  background: url(../images/char/char_03.svg) center / contain no-repeat;
}