main.content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../images/ox/ox_background.png) center / contain no-repeat;
}

.moon {
  position: absolute;
  right: -190px;
  bottom: -330px;
  width: 470px;
  height: 630px;
  background: url(../images/ox/moon_01.svg) center / contain no-repeat;
}