main.content {background: url(../images/ox/ox_background.png) center / cover no-repeat;}

.start_page .moon {
  position: absolute;
  right: -190px;
  bottom: -330px;
  width: 470px;
  height: 630px;
  background: url(../images/ox/moon_01.svg) center / contain no-repeat;
}

.start_page .char_02{
position: absolute;
bottom: 30px;
left: 30px;
}

.start_page .