.off{
    display: none;
}
[class*="quiz_"]{
    display: none;
}
[class*="quiz_"].on{
    display: block;
}

.quizBox{
    position: relative;
    top: 26px;
    left: 50%;
    width: 1194px;
    height: 592px;
    transform: translateX(-50% );
    border-radius: 30px;
    background-color: #100d1eaa;
    border: 15px solid #fff;
}