main{
    background: url(../images/dragLine/dragLine_bg.svg)center/cover no-repeat;
}
h1{
    position: absolute;
    font-size: 128px;
    color: #53E047;
    text-align: center;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;

}