main{
    background: url(../images/dragLine/dragLine_bg.svg)center/cover no-repeat;
}
.h1{
    position: relative;
}
.h1 .title{
    position: absolute;
    width: 410px;
    height: 260px;
    top: 80px;
    left: 50%;
    background: url(../images/dragLine/title.png)center/contain no-repeat;
    transform: translateX(-50%);
}

.h1 .title_bg{
    position: absolute;
    width: 676px;
    height: 396px;
    background: url(../images/dragLine/bg02.svg)center/contain no-repeat;
}