.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 30px;
    width: 100%;
    height: 100%;
    background: url(../../common/images/bg/wrapBg_1.png)center/cover no-repeat;
    user-select: none;

}

h1 {
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    /* margin: 30px 0 0 0; */
    z-index: 3;
}

.index_wrap {
    display: flex;
    width: 100%;
    /* height: 344px; */
    justify-content: space-around;
}

.star {
    width: 200px;
    transition: 0.3s;
    padding: 60px 0 0 0;
    cursor: pointer;
}

.star:hover {
    width: 270px;
    transform: scale(1.05);
}

.star:hover .starImg {
    animation: none !important;
}

.starImg {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: rgba(213, 194, 228, 0.3) 0px 0px 17px 4px;
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
    animation: upDown 3s ease-in-out infinite;

}

@keyframes upDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

a:nth-child(1) .starImg {
    margin: 0 auto;
    background: url(../images/index/star_1.svg) no-repeat center / 100%;
}

a:nth-child(2) .starImg {
    width: 170px;
    height: 170px;
    margin: 30px auto 0 auto;
    background: url(../images/index/star_2.svg) no-repeat center / 104%;
}

a:nth-child(3) .starImg {
    margin: 30px auto 0 auto;
    background: url(../images/index/star_3.svg) no-repeat center / 100%;
}

a:nth-child(4) .starImg {
    margin: 0 auto 0 auto;
    background: url(../images/index/star_4.svg) no-repeat center / 100%;
}


a:nth-child(1) .starText {
    width: 152px;
    height: 91px;
    margin: 30px auto 0 auto;
    background: url(../images/index/starText_1.svg) no-repeat center / 100%;
}

a:nth-child(2) .starText {
    width: 142px;
    height: 92px;
    margin: 30px auto 0 auto;
    background: url(../images/index/starText_2.svg) no-repeat center / 100%;
}

a:nth-child(3) .starText {
    width: 184px;
    height: 93px;
    margin: 30px auto 0 auto;
    background: url(../images/index/starText_3.svg) no-repeat center / 100%;
}

a:nth-child(4) .starText {
    width: 181px;
    height: 92px;
    margin: 50px auto 0 auto;
    background: url(../images/index/starText_4.svg) no-repeat center / 100%;
}





.starText {
    text-align: center;
}


/* 제작버튼 */
.from {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 89px;
    height: 34px;
    right: 20px;
    bottom: 20px;
    border-radius: 30px;
    background: rgba(159, 151, 202, 0.5);
    cursor: pointer;
    box-shadow: 0px 3px 1px #00000042;
}

.from::after {
    content: "제작";
}

.from:hover {
    box-shadow: none;
    transform: translateY(3px);
}

.from.on {
    box-shadow: inset 0px 3px 1px #00000042;
    transform: translateY(3px);
}

.from.on::after {
    content: "X";
}

.quizBox {
    display: none;
    position: absolute;
    background-color: #100d1ef2;
    padding: 190px 0 0;
    text-align: center;
    line-height: 1.35;
    user-select: none;
}

.quizBox.on {
    display: block;
}

.quizBox .name {
    font-size: 36px;
}

.quizBox .source {
    margin-top: 30px;
    font-size: 20px;
}

.quizBox h4 {
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 3px;
}