main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: url(../../common/images/bg/wrapBg_1.png)center/cover no-repeat;
}

h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
}

.index_wrap{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-around;
}

.star {
    width: 270px;
    height: 100%;
    outline: 5px solid #fff;
}

.starImg {
    width: 199px;
    height: 199px;
}

.star:nth-child(1) .starImg {
    margin: 100px auto 0 auto;
    background: url(../images/index/star_1.png) no-repeat center / 100%;
}

.star:nth-child(1) .starText {
    width: 130px;
    height: 210px;
    margin: 0px auto 0 auto;
    background: url(../images/index/starText_1.svg) no-repeat center / 100%;
}

.starText {
    text-align: center;
}